# Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# VS Code
.vscode/

# OS specific
.DS_Store
Thumbs.db

# Log files
*.log

# Env vars
.env
.env.local